<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.utfpr.android.samples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TableLayoutActivity" android:label="@string/table_layout" />
        <activity android:name=".LinearLayoutHorizontalActivity" android:label="@string/linear_layout_horizontal" />
        <activity android:name=".LinearLayoutVerticalActivity" android:label="@string/linear_layout_vertical" />
        <activity android:name=".FrameLayoutActivity" android:label="@string/frame_layout" />
        <activity android:name=".RelativeLayoutActivity" android:label="@string/relative_Layout" />
        <activity android:name=".GridLayoutActivity" android:label="@string/grid_layout" />
    </application>

</manifest>